<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Ejemplo Template</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/master.xhtml">

            <!--Si la página define estilos propios aquí se colocan (además de general.css)-->
            <ui:define name="estilos">
                <h:outputStylesheet library="css" name="accesoEstilos.css"/>

            </ui:define>

            <!--Contenido de la vista-->
            <ui:define name="content">
                <br/>
                <p:panel header="Inicio Sesión" 
                         styleClass="panel-login">

                    <div align="center">
                        <br/>
                        <p:button id="registro" value="Registrarse" outcome="registroClientes.xhtml"/>
                        <h:form>

                            <br/>
                            <br/>
                            <h:panelGrid columns="2">
                                <p:graphicImage library="imagenes"
                                                name="perro.png"
                                                title="InicioImagen"
                                                width="150"
                                                height="150"
                                                class="imgInicio"/>
                                <h:panelGrid columns="2">

                                    <h:outputLabel value="Email: "/>
                                    <p:inputText id="email" label="email" required="true" value="#{loginBean.correo}" type="email" validatorMessage="Dirección de correo elecrónico inválido">
                                        <p:tooltip for="email" value="Introduzca el correo electrónico"/>
                                        <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                        <p:clientValidator event="blur"/>
                                        <p:message for="email"/>
                                    </p:inputText>

                                    <h:outputLabel value="Password: "/>
                                    <p:keyboard id="pwd" label="pwd" required="true" value="#{loginBean.password}" password="true" validatorMessage="El minimo son 4 carateres y el máximo 8">
                                        <p:tooltip for="pwd" value="Introduzca contraseña inicial"/>
                                        <f:validateLength minimum="4" maximum="18"/>
                                        <p:clientValidator event="blur"/>
                                        <p:message for="pwd" />
                                    </p:keyboard>

                                </h:panelGrid>
                            </h:panelGrid>
                            <p:panel class="btns">
                                <p:commandButton id="Entrar" value="Entrar" ajax="false" validateClient="true" action="#{loginBean.login()}" />
                                <p:commandButton value="Cancelar" />
                            </p:panel>
                        </h:form>
                    </div>
                </p:panel>                
            </ui:define>


        </ui:composition>
    </h:body>
</html>

