<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Menu Cliente</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/master.xhtml">

            <ui:define name="estilos">
            </ui:define>
           <ui:define name="navBar">
                <ui:include src="/templates/navBars/NBCliente.xhtml"/>
            </ui:define>

            <!--Contenido de la vista-->
            <ui:define name="content">
                <br/>
                <p:panel header="Bienvenido" 
                    styleClass="panel-contenedor">

                    <div align="center">
                        <p:outputLabel value=""/>
                        <br/>
                        <p:outputLabel value=""/>
                    </div>
                </p:panel>                
            </ui:define>


        </ui:composition>
    </h:body>
</html>

