<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Modificar Perfil</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/master.xhtml">

            <!--Si la página define estilos propios aquí se colocan (además de general.css)-->
            <ui:define name="estilos">
                <h:outputStylesheet library="css" name="accesoEstilos.css"/>

            </ui:define>

            <ui:define name="navBar">
                <ui:include src="/templates/navBars/NBCliente.xhtml"/>
            </ui:define>

            <!--Contenido de la vista-->
            <ui:define name="content">
                <br/>
                <p:panel header="Editar Perfil" 
                         styleClass="panel-contenedor">

                    <div align="center">
                        <h:form id="edit">
                            <p:messages id="msjEdit" severity="error" styleClass="msjError"/> 
                            <h:panelGrid columns="2">

                                <h:outputLabel  value="Nombre: "/>
                                <p:inputText id="nombre" label="nombre" required="true" value="" validatorMessage="Se aceptan solo letras" disabled="true">
                                    <p:tooltip for="nombre" value="Introduzca Nombre"/>
                                    <f:validateRegex pattern="^[a-zA-Z_áéíóúñ\s]*$"/>
                                    <p:clientValidator event="blur"/>
                                    <p:message for="nombre"/>
                                </p:inputText>

                                <h:outputLabel value="Apellido Paterno:"/>
                                <p:inputText id="apePat" label="apePat" required="true" value="" validatorMessage="Se aceptan solo letras" disabled="true">
                                    <p:tooltip for="apePat" value="Introduzca Apellido Paterno"/>
                                    <f:validateRegex pattern="^[a-zA-Z_áéíóúñ\s]*$"/>
                                    <p:clientValidator event="blur"/>
                                    <p:message for="apePat"/>
                                </p:inputText>

                                <h:outputLabel value="Apellido Materno: "/>
                                <p:inputText id="apeMat" label="apePat"  validatorMessage="Se aceptan solo letras" disabled="true">
                                    <p:tooltip for="apeMat" value="Introduzca Apellido Materno"/>
                                    <f:validateRegex pattern="^[a-zA-Z_áéíóúñ\s]*$"/>
                                    <p:clientValidator event="blur"/>
                                    <p:message for="apeMat"/>
                                </p:inputText>

                                <h:outputLabel value="Teléfono: "/>
                                <p:inputMask id="tel" label="telefono" required="true"  mask="999-999-9999" validatorMessage="Teléfono no válido"> 
                                    <p:tooltip for="tel" value="Introduzca el número de teléfono  10 digitos"/>
                                    <f:validateLength minimum="10" maximum="14"/>
                                    <p:clientValidator event="blur"/>
                                    <p:message for="tel"/>
                                </p:inputMask>

                                <h:outputLabel value="Email: "/>
                                <p:inputText id="email" label="email" required="true" type="email" autocomplete="off" validatorMessage="Dirección de correo elecrónico inválido" disabled="true">
                                    <p:tooltip for="email" value="Introduzca el correo electrónico"/>
                                    <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                    <p:clientValidator event="blur"/>
                                    <p:message for="email"/>
                                </p:inputText>

                                <h:outputLabel value="Password: "/>
                                <p:keyboard id="pwd" label="pwd" required="true" value="" autocomplete="off" password="true" validatorMessage="El minimo son 4 carateres y el máximo 8">
                                    <p:tooltip for="pwd" value="Introduzca contraseña inicial"/>
                                    <f:validateLength minimum="4" maximum="8"/>
                                    <p:clientValidator event="blur"/>
                                    <p:message for="pwd" />
                                </p:keyboard>
                            </h:panelGrid>
                            <p:panel class="btns">
                                <p:commandButton id="guardarEdit" value="Guardar"  update="msjEdit" validateClient="true" action="accion" />
                                <p:commandButton value="Cancelar" />
                            </p:panel>
                        </h:form>
                    </div>
                    <div>
                        <h:form>
                            <p:panel style="border: none; align-content: center;">
                                <h:outputLink id="liga" value="javascript:void(0)" onclick="PF('nvaMascota').show()" class="buttons">
                                    <p:commandButton id="addMascota" value="Mascota" disabled="false"  action="accion" class="buttons" />
                                </h:outputLink>
                            </p:panel>
                            <br/>
                            <br/>
                            <div align="center" style="display: block">
                                <p:dataTable value="" var="cliente" paginator="false" style="width: 80%" rows="5" > 
                                    <p:column>
                                        <f:facet name="header">Nombre</f:facet>
                                        Nombre
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">Especie</f:facet>
                                        Especie
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">Género</f:facet>
                                        Genero
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">Fecha de Nacimiento</f:facet>
                                        Fecha de Nacimiento
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">Color</f:facet>
                                        Color
                                    </p:column>
                                </p:dataTable>
                                <br/>

                                <br/>
                            </div>
                        </h:form>
                    </div>
                    <p:dialog id="nvaMascota" widgetVar="nvaMascota" header="Nueva Mascota" >
                        <h:form id="formaMascota">
                            <p:messages id="msjMascota" severity="error" styleClass="msjError"/>           
                            <h:panelGrid columns="2">
                                <h:outputLabel  value="Nombre: "/>
                                <p:inputText id="nombre" label="nombre" required="true" value="" validatorMessage="Se aceptan solo letras">
                                    <p:tooltip for="nombre" value="Introduzca Nombre"/>
                                    <f:validateRegex pattern="^[a-zA-Z_áéíóúñ\s]*$"/>
                                    <p:clientValidator event="blur"/>
                                    <p:message for="nombre"/>
                                </p:inputText>

                                <h:outputLabel value="Especie:"/>
                                <p:selectOneMenu id="basic" >
                                    <f:selectItem itemLabel="Perros" itemValue="1" />
                                    <f:selectItem itemLabel="Gatos" itemValue="2" />
                                </p:selectOneMenu>

                                <h:outputText value="Color: " />
                                <p:colorPicker  />

                                <h:outputText value="Género: " />
                                <p:selectOneRadio id="Genero" >
                                    <f:selectItem itemLabel="Hembra" itemValue="H" />
                                    <f:selectItem itemLabel="Macho" itemValue="M" />
                                </p:selectOneRadio>

                                <h:outputLabel value="Fecha de Nacimiento: "/>
                                <p:calendar id="fecha" navigator="true" pattern="dd/mm/yyyy" yearRange="c-90:c+90" validatorMessage="Fecha no valida" locale="es">
                                    <p:tooltip for="fecha" value="Seleccione la fecha de nacimiento de su mascota, introduzca formato dd/mm/yyyy"/>
                                    <p:message for="fecha"/>
                                </p:calendar>
                                <br/>
                                <p:panel class="btns">
                                    <p:commandButton id="btn" value="Guardar" update="msjMascota"   validateClient="true" action="accion" oncomplete="altaRequest(xhr,status,args)"/>
                                    <p:commandButton value="Cancelar" type="button" onclick="PF('nvaMascota').hide()"/>
                                </p:panel>
                            </h:panelGrid>
                        </h:form>

                    </p:dialog>
                    <script type="text/javascript">
                        function altaRequest(xhr, status, args) {
                            //regresar errores 
                            //actualizar la lista del datatable de mascotas 
                        }
                    </script>    

                </p:panel>   
                
                <!--Se define el archivo js con la traducción a español del calendar-->
                <h:outputScript library="js" name="calendar-es.js"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

