<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Ignorado</title>
    </h:head>
    <h:body>

        <ui:composition template="../templates/master.xhtml">
            <!--Si la página define estilos propios aquí se colocan (además de general.css)-->
            <ui:define name="estilos">
                <h:outputStylesheet library="css" name="citas.css"/>
            </ui:define>

            <!--Se define la barra de navegación-->
            <ui:define name="navBar">
                <ui:include src="../templates/navBars/NBCliente.xhtml"/>
            </ui:define>

            <!--Contenido de la vista-->
            <ui:define name="content">
                <br/>

                <p:panel id="viewContainer"
                         styleClass="panel-contenedor"
                         header="#{texto.citaCitasPendientes}">

                    <div align="center" 
                         class="citas-table-container">

                        <p:outputLabel value="#{texto.citaCitasPara}"/>
                        <br/>
                        <p:outputLabel value="#{citasCliente.nombre}"
                                       escape="false"/>
                        <br/>
                        <br/>

                        <div align="left">
                            <p:outputLabel value="#{texto.citaTotalCitas} #{citasCliente.totalCitas}"/>
                        </div>
                        <h:form id="citasForm">
                            <p:dataTable id="citasPendientesTable"
                                         value="#{citasCliente.citasPendientes}"
                                         var="cita"
                                         tableStyleClass="horas-table"
                                         paginator="true"
                                         paginatorPosition="bottom"
                                         rows="5"
                                         emptyMessage="#{texto.citaSinCitasCliente}"
                                         currentPageReportTemplate="#{texto.citaCitasMostradas}">
                                <p:column headerText="#{texto.citaFecha}">

                                    <p:outputLabel value="#{cita[0]}"/>

                                </p:column>

                                <p:column headerText="#{texto.citaHora}">
                                    <p:outputLabel value="#{cita[1]}"/>
                                </p:column>

                                <p:column headerText="#{texto.citaNombreMasc}">
                                    <p:outputLabel value="#{cita[2]}"/>
                                </p:column>

                                <p:column headerText="#{texto.citaEstatus}">

                                    <p:outputLabel value="#{cita[3]}"/>

                                </p:column>

                                <p:column headerText="#{texto.citaAccion}">

                                    <p:commandButton icon="ui-icon-plus"
                                                     onclick="PF('detalleCita').show()"/>

                                </p:column>
                            </p:dataTable>

                        </h:form>

                    </div>



                </p:panel>


                <p:dialog widgetVar="detalleCita"
                          header="#{texto.citaDetalleCita}"
                          draggable="false"
                          showEffect="fade"
                          resizable="false"
                          dynamic="true"
                          modal="true"
                          appendTo="@(body)">

                    <h:panelGrid columns="4">
                        <p:outputLabel value="#{texto.citaFecha}"/>
                        <p:inputText readonly="true"
                                     value="26/05/2016">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </p:inputText>

                        <p:outputLabel value="#{texto.citaHoraForm}"/>
                        <p:inputText readonly="true" 
                                     value="9:00 AM"/>
                    </h:panelGrid>

                    <p:separator />

                    <h:panelGrid columns="4">
                        <p:outputLabel value="#{texto.citaMascotaForm}"/>
                        <p:inputText value="Manchas"
                                     readonly="true"/>
                        <p:outputLabel value="#{texto.citaEstatusForm}"/>
                        <p:inputText value="Pendiente"
                                     readonly="true"/>
                        <p:outputLabel value="#{texto.citaMotivoForm}"/>
                        <p:inputText value="Consulta"
                                     readonly="true"
                                     />

                    </h:panelGrid>

                    <p:separator/>
                    <p:outputLabel value="#{texto.citaObser}"/>
                    <p:inputTextarea id="observaciones"
                                     value="Algunas observaciones"
                                     style="width:100%;"
                                     rows="3"
                                     autoResize="false"
                                     readonly="true"
                                     >
                    </p:inputTextarea>
                    <p:separator/>
                    <div align="center">
                        <p:commandButton value="#{texto.citaCerrar}"
                                         type="button"
                                         icon="ui-icon-close"
                                         onclick="PF('detalleCita').hide();"/>
                    </div>



                </p:dialog>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

