<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Agregar Veterinario</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/master.xhtml">

            <ui:define name="estilos">
                <h:outputStylesheet library="css" name="general.css"/>
                <h:outputStylesheet library="css" name="accesoEstilos.css"/>
            </ui:define>

            <ui:define name="navBar">
                <ui:include src="/templates/navBars/NBAdmin.xhtml"/>
            </ui:define>

            <ui:define name="content">
                <br/>
                <p:panel header="Agregar Veterinario" 
                         styleClass="panel-contenedor">
                    <div >
                        <h:form>
                            <h:outputLink id="liga" value="javascript:void(0)" onclick="PF('nuevoVet').show()" class="buttons">
                                <p:commandButton id="agregaVet" value="Agregar" />
                            </h:outputLink>
                            <br/>
                            <br/>   
                            <div align="center">
                                <p:dataTable value="" var="veterinario" paginator="false" style="width:900px" rows="3"> 
                                    <p:column>
                                        <f:facet name="header">Nombre</f:facet>
                                        Nombre
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">Teléfono</f:facet>
                                        Teléfono
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">Email</f:facet>
                                        Email
                                    </p:column>
                                </p:dataTable>
                                <br/>
                            </div>
                        </h:form>
                    </div>
                </p:panel> 

                <p:dialog id="registrar" widgetVar="nuevoVet" header="Nuevo Veterinario" focus="forma:nombre">
                    <h:form id="forma">
                        <p:messages id="msjVet" severity="error" styleClass="msjError"/>           
                        <h:panelGrid columns="2">
                            <h:outputLabel  value="Nombre: "/>
                            <p:inputText id="nombre" label="nombre" required="true" value="" validatorMessage="Se aceptan solo letras">
                                <p:tooltip for="nombre" value="Introduzca Nombre"/>
                                <f:validateRegex pattern="^[a-zA-Z_áéíóúñ\s]*$"/>
                                <p:clientValidator event="blur"/>
                                <p:message for="nombre"/>
                            </p:inputText>

                            <h:outputLabel value="Apellido Paterno:"/>
                            <p:inputText id="apePat" label="apePat" required="true" value="" validatorMessage="Se aceptan solo letras">
                                <p:tooltip for="apePat" value="Introduzca Apellido Paterno"/>
                                <f:validateRegex pattern="^[a-zA-Z_áéíóúñ\s]*$"/>
                                <p:clientValidator event="blur"/>
                                <p:message for="apePat"/>
                            </p:inputText>

                            <h:outputLabel value="Apellido Materno: "/>
                            <p:inputText id="apeMat" label="apePat"  validatorMessage="Se aceptan solo letras" >
                                <p:tooltip for="apeMat" value="Introduzca Apellido Materno"/>
                                <f:validateRegex pattern="^[a-zA-Z_áéíóúñ\s]*$"/>
                                <p:clientValidator event="blur"/>
                                <p:message for="apeMat"/>
                            </p:inputText>

                            <h:outputLabel value="Teléfono: "/>
                            <p:inputMask id="tel" label="telefono" required="true"  mask="999-999-9999" validatorMessage="Teléfono no válido"> 
                                <p:tooltip for="tel" value="Introduzca el número de teléfono  10 digitos"/>
                                <f:validateLength minimum="10" maximum="14"/>
                                <p:clientValidator event="blur"/>
                                <p:message for="tel"/>
                            </p:inputMask>

                            <h:outputLabel value="Email: "/>
                            <p:inputText id="email" label="email" required="true" type="email" autocomplete="off" validatorMessage="Dirección de correo elecrónico inválido" >
                                <p:tooltip for="email" value="Introduzca el correo electrónico"/>
                                <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                <p:clientValidator event="blur"/>
                                <p:message for="email"/>
                            </p:inputText>

                            <h:outputLabel value="Password: "/>
                            <p:keyboard id="pwd" label="pwd" required="true" value="" autocomplete="off" password="true" validatorMessage="El minimo son 4 carateres y el máximo 8">
                                <p:tooltip for="pwd" value="Introduzca contraseña inicial"/>
                                <f:validateLength minimum="4" maximum="8"/>
                                <p:clientValidator event="blur"/>
                                <p:message for="pwd" />
                            </p:keyboard>
                        </h:panelGrid>
                        <p:panel style="border: none; align-content: center;">
                            <p:commandButton id="btn" value="Guardar" update="msjVet" validateClient="true" action="accion" oncomplete="altaRequest(xhr,status,args)"/>
                            <p:commandButton value="Cancelar" onclick="PF('nuevoVet').hide()"/>
                        </p:panel>
                    </h:form>

                </p:dialog>
                <script type="text/javascript">
                    function altaRequest(xhr, status, args) {
                        //regresar errores 
                        //actualizar la lista del datatable 
                    }
                </script>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

