<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Menu Administrador</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/master.xhtml">

            <!--Si la página define estilos propios aquí se colocan (además de general.css)-->
            <ui:define name="estilos">

            </ui:define>

            <!--Se define la barra de navegación para cada página según el 
            o ninguna (para el login por ejemplo)-->
            <ui:define name="navBar">
                <ui:include src="/templates/navBars/NBAdmin.xhtml"/>
            </ui:define>

            <!--Contenido de la vista-->
            <ui:define name="content">
                <br/>
                <p:panel header="Bienvenido" 
                    styleClass="panel-contenedor">

                    <div align="center">
                        <p:outputLabel value="Contenido"/>
                        <br/>
                        <p:outputLabel value="Template Mascotas"/>
                    </div>
                </p:panel>                
            </ui:define>


        </ui:composition>
    </h:body>
</html>

