<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Ignorado</title>
    </h:head>
    <h:body>



        <h:form id="navBarForm">

            <p:menubar id="navAdmin">

                <p:submenu label="Usuarios">
                    <p:menuitem value="Alta Veterinarios" url="/faces/Admin/agregaVeterinario.xhtml" />
                    <p:menuitem value="Ver Veterinarios" url="/faces/Admin/iniAdmin.xhtml"/>
                </p:submenu>


                <f:facet name="options">
                    <p:commandButton type="button" value="Salir" icon="ui-icon-close" />
                </f:facet>

            </p:menubar>
        </h:form>   

    </h:body>
</html>

