<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Ignorado</title>
    </h:head>
    <h:body>
        <h:form id="navBarForm">

            <p:menubar id="navVet">

                <p:submenu label="Perfil">
                    <p:menuitem value="Modificar Perfil" 
                                outcome="/Vet/editVet.xhtml"/>
                </p:submenu>
                <p:submenu label="Citas">
                    <p:menuitem value="Ver Citas"
                                outcome="/Vet/VerCitas.xhtml"/>
                </p:submenu>

                
                <f:facet name="options">
                    <p:commandButton type="button" value="Salir" icon="ui-icon-close" />
                </f:facet>

            </p:menubar>
        </h:form>

    </h:body>
</html>

