/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/05/2016, 06:57:37 PM
    Author     : Elyzz Barrueta
*/
    
.buttons{
    float: right;
    margin-right: 20% !important;
}
.panel-login{
    width: 50%;
    margin:auto;    
}

.btns{
    border: none !important;
    align-content: center;
    padding: 4% ;
}