/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-may-2016, 23:04:54
    Author     : Luis
*/

.grid-container{
    width:100%;
}

.calendar-container{
    width:30%;
}

.hour-container{
    width: 70%;
}

.time-container{
    border: 1px solid cornflowerblue;
}

.horas-table-container{
    padding: 2% 5% 1% 5%;
}

.horas-table{
    font-size: 80%;
    text-align: center;
}

.hora-libre{
    background: green;
    color:white;
    font-weight: bold;
}

.hora-ocupada{
    background: #cc0000;
    color: black;
    font-weight: bold;
}

.citas-table-container{
    margin-top: 1%;
    margin-right: 10%;
    margin-left: 10%;
    
}