/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/05/2016, 10:46:54 PM
    Author     : Luis
*/

.mascotas-layout .ui-layout-unit-content{
    /*Definir un color de fondo para las secciones de layout.*/
}

.panel-contenedor{
    margin-right: 1%;
    margin-left: 1%;
}

.ui-menubar .ui-menuitem-link {
    font-size: 85%;
}

.ui-menubar .ui-button-text{
    font-size: 85%;
}

.footer-container{
    font-size: 80%;
}


.left-div {
    
    float: left;
    width: 380px;
    height: 270px;
    margin-right: 8px;
    background-color: activeborder;
}
.right-div {
    
    float: right;
    width: 860px;
    height: 350px;
    margin-left: 10px;
    background-color: activeborder;
    
}

#mascota, #dueño{
    
    color: black;
    font-size: 24px;
    font-style: oblique
}

.table{
    width: 800px;
}