<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Editar Perfil</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/master.xhtml">

            <ui:define name="estilos">
                <h:outputStylesheet library="css" name="accesoEstilos.css"/>
            </ui:define>
            <ui:define name="navBar">
                <ui:include src="/templates/navBars/NBVeterinario.xhtml"/>
            </ui:define>

            <!--Contenido de la vista-->
            <ui:define name="content">
                <br/>
                <p:panel header="Editar Perfil" 
                         styleClass="panel-contenedor">
                    <h:form>
                        <p:messages id="msjEditVet" severity="error" styleClass="msjError"/>           

                        <div align="center">
                            <h:panelGrid columns="2">

                                <h:outputLabel  value="Nombre: "/>
                                <p:inputText id="nombre" label="nombre" required="true" value="" validatorMessage="Se aceptan solo letras" disabled="true">
                                    <p:tooltip for="nombre" value="Introduzca Nombre"/>
                                    <f:validateRegex pattern="^[a-zA-Z_áéíóúñ\s]*$"/>
                                    <p:clientValidator event="blur"/>
                                    <p:message for="nombre"/>
                                </p:inputText>

                                <h:outputLabel value="Apellido Paterno:"/>
                                <p:inputText id="apePat" label="apePat" required="true" value="" validatorMessage="Se aceptan solo letras" disabled="true">
                                    <p:tooltip for="apePat" value="Introduzca Apellido Paterno"/>
                                    <f:validateRegex pattern="^[a-zA-Z_áéíóúñ\s]*$"/>
                                    <p:clientValidator event="blur"/>
                                    <p:message for="apePat"/>
                                </p:inputText>

                                <h:outputLabel value="Apellido Materno: "/>
                                <p:inputText id="apeMat" label="apePat"  validatorMessage="Se aceptan solo letras" disabled="true">
                                    <p:tooltip for="apeMat" value="Introduzca Apellido Materno"/>
                                    <f:validateRegex pattern="^[a-zA-Z_áéíóúñ\s]*$"/>
                                    <p:clientValidator event="blur"/>
                                    <p:message for="apeMat"/>
                                </p:inputText>

                                <h:outputLabel value="Teléfono: "/>
                                <p:inputMask id="tel" label="telefono" required="true"  mask="999-999-9999" validatorMessage="Teléfono no válido"> 
                                    <p:tooltip for="tel" value="Introduzca el número de teléfono  10 digitos"/>
                                    <f:validateLength minimum="10" maximum="14"/>
                                    <p:clientValidator event="blur"/>
                                    <p:message for="tel"/>
                                </p:inputMask>

                                <h:outputLabel value="Email: "/>
                                <p:inputText id="email" label="email" required="true" type="email" autocomplete="off" validatorMessage="Dirección de correo elecrónico inválido" disabled="true">
                                    <p:tooltip for="email" value="Introduzca el correo electrónico"/>
                                    <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                    <p:clientValidator event="blur"/>
                                    <p:message for="email"/>
                                </p:inputText>

                                <h:outputLabel value="Password: "/>
                                <p:keyboard id="pwd" label="pwd" required="true" value="" autocomplete="off" password="true" validatorMessage="El minimo son 4 carateres y el máximo 8">
                                    <p:tooltip for="pwd" value="Introduzca contraseña inicial"/>
                                    <f:validateLength minimum="4" maximum="8"/>
                                    <p:clientValidator event="blur"/>
                                    <p:message for="pwd" />
                                </p:keyboard>
                            </h:panelGrid>
                            <p:panel class="btns">
                                <p:commandButton id="guardarEdit" value="Guardar" update="msjEditVet" validateClient="true" action="accion" />
                                <p:commandButton value="Cancelar" />
                            </p:panel>
                        </div>
                    </h:form>
                </p:panel>                
            </ui:define>


        </ui:composition>
    </h:body>
</html>

