<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>

        <ui:composition template="../templates/master.xhtml">
            <!--Si la página define estilos propios aquí se colocan (además de general.css)-->
            <ui:define name="estilos">
            </ui:define>

            <!--Se define la barra de navegación-->
            <ui:define name="navBar">
                <ui:include src="../templates/navBars/NBVeterinario.xhtml"/>
            </ui:define>

            <ui:define name="content">
                <br/>
                <p:panel id="viewContainer"
                         styleClass="panel-contenedor"
                         header="Expediente de la Mascota">

                    <!-- de la información de la mascota --> 
                    <div class="left-div">
                        <h:form id="forma">

                            <!-- si se desea cambiar en lugar de los mensajes-->
                            <p:growl autoUpdate="true" class="ui-growl" />
                            <p:fieldset legend="Información" style="margin-bottom:10px;">

                                <h:panelGrid columns="2">
                                    <h:outputLabel value="Nombre de la mascota:" />
                                    <p:inputText id="nombre" label="nombre" disabled="true" value="Mascota1">
                                        <p:tooltip for="nombre" value="Es el nombre de la mascota"/>

                                    </p:inputText>

                                    <h:outputLabel value="Especie:"/>
                                    <p:inputText id="especie" label="apellidos" disabled="true" value="Perro">
                                        <p:tooltip for="especie" value="La especie de la mascota"/>
                                    </p:inputText>


                                    <h:outputLabel value="Dueño:"/>
                                    <p:inputText id="due" label="dueno" disabled="true" value="Iván">
                                        <p:tooltip for="due" value="El dueño de la mascota"/>
                                    </p:inputText>

                                </h:panelGrid>
                            </p:fieldset>                
                        </h:form>
                    </div>


                    <!-- del expediente -->

                    <div class="right-div">

                        <h:form>
                            <p:growl id="field" showDetail="true" />

                            <p:fieldset legend="Expediente Clínico" style="margin-bottom:10px;">
                                <h:panelGrid columns="4" cellpadding="5">

                                    <h:outputLabel value="Peso:"/>
                                    <p:inputText id="peso" label="peso" disabled="false" value="24 Kg">
                                        <p:tooltip for="peso" value="El peso de la mascota"/>
                                    </p:inputText>

                                    <h:outputLabel value="Tamaño:"/>
                                    <p:inputText id="tam" label="tam" disabled="false" value="70 cm">
                                        <p:tooltip for="tam" value="El tamaño de la mascota"/>
                                    </p:inputText>

                                    <h:outputLabel value="Fecha:" style="width: 190px"/>

                                    <p:calendar id="fecha" mindate="#{info.currentDate}" maxdate="#{info.currentDate}" showOn="button" navigator="true" pattern="dd/mm/yyyy" yearRange="c-90:c+0" locale="es">
                                        <p:tooltip for="fecha" value="Fecha de creación del Expediente clínico"/>
                                    </p:calendar>

                                    <p:outputLabel for="op" value="Operaciones:" />
                                    <p:selectOneRadio id="op">
                                        <f:selectItem itemLabel="Sí" itemValue="Si" />
                                        <f:selectItem itemLabel="No" itemValue="No" />

                                    </p:selectOneRadio>

                                    <h:outputLabel value="Observaciones Generales:"/>

                                    <p:inputTextarea rows="5" cols="20" completeMethod="#{inputTextareaView.completeArea}" queryDelay="750" minQueryLength="4" />

                                    <p:commandButton id="bt_g" value="Guardar" onclick="PF('dlg').show();"/>


                                    <p:dialog header="Información Clínica" widgetVar="dlg" resizable="false">
                                        <h:panelGrid columns="2" cellpadding="5">

                                            <h:outputLabel value="Acción:"/>
                                            <p:selectOneMenu id="ac"  style="width:180px">
                                                <f:selectItem itemLabel="Seleccionar acción" itemValue="" />
                                                <f:selectItem itemLabel="Vacuna" itemValue="Vacuna" />
                                                <f:selectItem itemLabel="Desparacitación" itemValue="Desparacitación" />
                                                <f:selectItem itemLabel="Enfermedad" itemValue="Enfermedad" />
                                            </p:selectOneMenu>
                                            <h:outputLabel value="Observaciones Generales:"/>

                                            <p:inputTextarea rows="5" cols="20" completeMethod="#{inputTextareaView.completeArea}" queryDelay="750" minQueryLength="4" />


                                            <f:facet name="footer">
                                                <p:commandButton value="Cancelar" oncomplete="handleLoginRequest(xhr, status, args)" />
                                                <p:commandButton value="Guardar"  oncomplete="handleLoginRequest(xhr, status, args)" />
                                            </f:facet>  
                                        </h:panelGrid>
                                    </p:dialog>


                                </h:panelGrid>
                            </p:fieldset>

                        </h:form>
                    </div>


                    <!-- Historial clínico de la mascota-->

                    <div align="justify">

                        <p:fieldset legend="Historial Clínico" style="margin-bottom:10px;">

                            <h:form id="form">
                                <p:commandButton value="agregar"  oncomplete="handleLoginRequest(xhr, status, args)" onclick="PF('dlg').show();"/>
                                <p:dataTable var="hist"  paginator="true" rows="10"
                                             selectionMode="single" id="hist_id" lazy="true" class="table"
                                             paginatorPosition="bottom">


                                    <p:column headerText="Fecha" filterBy="#{message.subject}" >
                                        <h:outputText value="23/mayo/2016" />
                                    </p:column>
                                    <p:column headerText="Veterinario" filterBy="#{message.subject}" >
                                        <h:outputText value="vet1" />
                                    </p:column>
                                    <p:column headerText="Acción" filterBy="#{message.subject}">
                                        <h:outputText value="vacuna" />
                                    </p:column>
                                    <p:column headerText="Descripción" >
                                        <h:outputText value="vacunas..." />
                                    </p:column>
                                </p:dataTable>



                            </h:form>

                        </p:fieldset>
                    </div>


                </p:panel>


                <!--Se define el archivo js con la traducción a español del calendar-->
                <h:outputScript library="js" name="calendar-es.js"/>
            </ui:define>
        </ui:composition>


    </h:body>
</html>

