<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Ignorado</title>
    </h:head>
    <h:body>
        <p:panel>
            <div align="center" id="informacion" class="footer-container">
                <h:form>

                    <h:panelGrid columns="3">
                        <p:outputPanel>
                            <p:commandLink value="#{texto.acerca_de}"
                                           ajax="false"
                                           immediate="true"
                                           action="accion"/>


                        </p:outputPanel>
                        <p:spacer width="10"/>
                        <p:outputPanel>
                            <p:commandLink value="#{texto.contacto}"
                                           ajax="false"
                                           immediate="true"
                                           action="accion"/>
                        </p:outputPanel>
                    </h:panelGrid>
                </h:form>


            </div>
            <p:separator style="width:300px;"/>
            <div align="center" class="footer-container">
                <h:outputLabel value="#{texto.equipo}"/> 
            </div>
        </p:panel>

    </h:body>
</html>

