<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Ignorado</title>
    </h:head>
    <h:body>
        <div align="center">
            <p:graphicImage library="imagenes"
                            name="banner.png"
                            title="Banner Equipo 1"
                            width="950"
                            height="55"/>

        </div>
    </h:body>
</html>

