<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title><ui:insert name="titulo">Titulo</ui:insert></title>
        <link rel="icon" href="#{resource['imagenes:logo.png']}"/> 

        <!--Hoja de estilos general para todas las páginas-->
        <h:outputStylesheet library="css" name="general.css"/>

        <f:facet name="last">
            <!--Permite que cada página utilice diferentes hojas de estilos ademas de general.css-->
            <ui:insert name="estilos"/>
        </f:facet>

    </h:head>
    <h:body>
        <p:layout fullPage="true">

            <!--Definición del encabezado de las páginas-->
            <p:layoutUnit position="north"
                          closable="false"
                          resizable="false"
                          size="80"
                          styleClass="mascotas-layout">

                <div id="header">

                    <ui:insert name="header">
                        <ui:include src="header.xhtml"/>
                    </ui:insert>

                </div>

            </p:layoutUnit>

            <!--Definición del contenido de cada página-->
            <p:layoutUnit position="center"
                          closable="false"
                          resizable="false"
                          styleClass="mascotas-layout">

                <div id="navBar">

                    <ui:insert name="navBar"/>

                </div>

                <div id="content">
                    <ui:insert name="content"/>
                </div>

            </p:layoutUnit>

            <p:layoutUnit position="south"
                          closable="false"
                          resizable="false"
                          size="110"
                          styleClass="mascotas-layout">

                <div id="footer">
                    
                    <ui:insert name="footer">
                        <ui:include src="footer.xhtml"/>
                    </ui:insert>

                </div>

            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

